@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model List<Lab10.Models.MusicTrack>

<h1>Music Tracks</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var track in Model)
        {
            <tr>
                <td>@track.Title</td>
                <td>@track.Artist</td>
                <td>@track.ReleaseDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
